cffi==1.17.1
click==8.0.2
cryptography==3.4.8
Flask==2.0.1
Flask-MySQL==1.5.2
Flask-SQLAlchemy==2.5.1
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
gunicorn==20.1.0
humanize==4.11.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysql-connector-python==8.0.26
passlib==1.7.4
protobuf==5.28.3
pycparser==2.20
PyMySQL==1.0.2
setuptools==75.6.0
SQLAlchemy==1.4.25
typing_extensions==4.12.2
Werkzeug==2.0.1
zope.event==4.5.0
zope.interface==5.4.0
