<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title%}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{url_for('static', filename='assets/images/favicon.ico')}}">
        <!-- CK EDITOR -->
        <script src="{{url_for('static', filename='ckeditor/ckeditor.js')}}"></script>

        <!-- third party css -->
        <link href="{{url_for('static', filename='assets/css/vendor/dataTables.bootstrap5.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static', filename='assets/css/vendor/responsive.bootstrap5.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static', filename='assets/css/vendor/buttons.bootstrap5.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static', filename='assets/css/vendor/select.bootstrap5.css')}}" rel="stylesheet" type="text/css">
        <!-- third party css end -->
        <!-- SimpleMDE css -->
        <link href="{{url_for('static', filename='assets/css/vendor/simplemde.min.css')}}" rel="stylesheet" type="text/css">

        <!-- Quill css -->
        <link href="{{url_for('static', filename='assets/css/vendor/quill.bubble.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static', filename='assets/css/vendor/quill.core.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static', filename='assets/css/vendor/quill.snow.css')}}" rel="stylesheet" type="text/css">

        <!-- App css -->
        <link href="{{url_for('static', filename='assets/css/icons.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static', filename='assets/css/app.min.css')}}" rel="stylesheet" type="text/css" id="light-style">
        <link href="{{url_for('static', filename='assets/css/app-dark.min.css')}}" rel="stylesheet" type="text/css" id="dark-style">

    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">

                <!-- LOGO -->
                <a href="{{url_for('admin')}}" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="{{url_for('static', filename='assets/images/nlogo.png')}}" alt="" height="16">
                    </span>
                    <span class="logo-sm">
                        <img src="{{url_for('static', filename='assets/images/logo_sm.png')}}" alt="" height="16">
                    </span>
                </a>

                <!-- LOGO -->
                <a href="{{url_for('admin')}}" class="logo text-center logo-dark">
                    <span class="logo-lg">
                        <img src="{{url_for('static', filename='assets/images/logo-dark.png')}}" alt="" height="16">
                    </span>
                    <span class="logo-sm">
                        <img src="{{url_for('static', filename='assets/images/logo_sm_dark.png')}}" alt="" height="16">
                    </span>
                </a>

                <div class="h-100" id="leftside-menu-container" data-simplebar="">

                    <!--- Sidemenu -->
                    <ul class="side-nav">

                      <li class="side-nav-title side-nav-item">Home</li>

                    <li class="side-nav-item">
                          <a href="{{url_for('home')}}" class="side-nav-link">
                              <i class="uil-home-alt"></i>

                              <span> Home Page </span>
                          </a>
                      </li>
                        <li class="side-nav-title side-nav-item">Apps</li>

                      <li class="side-nav-item">
                            <a href="{{url_for('Prof')}}" class="side-nav-link">
                                <i class="uil-comment-alt"></i>
                                {%if noti%}
                                <span class="badge bg-success float-end">1s</span> {%endif%}
                                <span> Profile </span>
                            </a>
                        </li>
                              <li class="side-nav-item">
                            <a href="{{url_for('info')}}" class="side-nav-link">
                                <i class="uil-users-alt"></i>
                                {%if noti%}
                                <span class="badge bg-success float-end">1s</span> {%endif%}
                                <span> Profile </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="{{url_for('info')}}" class="side-nav-link">
                                <i class="uil-comment-alt"></i>
                                {%if noti%}
                                <span class="badge bg-success float-end">1s</span> {%endif%}
                                <span>  </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#Tourpackages" aria-expanded="false" aria-controls="Tourpackages" class="side-nav-link">
                                <i class="uil-store"></i>
                                <span> Skills </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="Tourpackages">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="{{url_for('add_skill')}}">Add Skill</a>
                                    </li>
                                    <li>
                                        <a href="{{url_for('manage_skills')}}">Manage Skills</a>
                                    </li>
                                    </ul>
                            </div>
                        </li>
                           <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#Education" aria-expanded="false" aria-controls="Tourpackages" class="side-nav-link">
                                <i class="uil-books"></i>
                                <span> Education </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="Education">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="{{url_for('add_skill')}}">Add Education</a>
                                    </li>
                                    <li>
                                        <a href="{{url_for('manage_education')}}">Manage Education</a>
                                    </li>
                                    </ul>
                                      <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#Work" aria-expanded="false" aria-controls="Tourpackages" class="side-nav-link">
                                <i class="uil-laptop"></i>
                                <span> Work Experience </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="Work">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="{{url_for('add_skill')}}">Add Work</a>
                                    </li>
                                    <li>
                                        <a href="{{url_for('manage_experience')}}">Work History</a>
                                    </li>
                                    </ul>
                            </div>
                        </li>

                        <li class="side-nav-item">
                              <a href="{{url_for('manage_bookings')}}" class="side-nav-link">
                                  <i class="uil-plane-departure"></i>
                                  <span> Manage Booking </span>
                              </a>
                          </li>
                          <li class="side-nav-item">
                                <a href="{{url_for('manage_users')}}" class="side-nav-link">
                                    <i class=" uil-users-alt"></i>
                                    <span> Manage Users </span>
                                </a>
                            </li>

                          <li class="side-nav-item">
                                <a href="{{url_for('guest_help')}}" class="side-nav-link">
                                    <i class="uil-envelope-alt"></i>
                                    <span> Contact Help </span>
                                </a>
                            </li>
                      <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarPages" aria-expanded="false" aria-controls="sidebarPages" class="side-nav-link">
                                <i class="uil-copy-alt"></i>
                                <span> Pages </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarPages">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="{{url_for('edit_contact')}}">Contact Info</a>
                                    </li>
                                    <li>
                                        <a href="/page_type=aboutus">About Us</a>
                                    </li>
                                    <li>
                                        <a href="/page_type=privacy">Privacy & Policy</a>
                                    </li>
                                    <li>
                                        <a href="../page_type=terms">Terms of Use</a>
                                    </li>


                            </div>
                        </li>

                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">
                            <li class="dropdown notification-list d-lg-none">
                                <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="dripicons-search noti-icon"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                                    <form class="p-3">
                                        <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                    </form>
                                </div>
                            </li>
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar">
                                        <img src="{{url_for('static', filename='assets/images/users/avatar-1.jpg')}}" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name">Wali Baloch</span>
                                        <span class="account-position">Admin</span>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-account-circle me-1"></i>
                                        <span>Account Settings</span>
                                    </a>

                                    <!-- item-->
                                    <a href="{{url_for('change_password')}}" class="dropdown-item notify-item">
                                        <i class="mdi mdi-account-edit me-1"></i>
                                        <span>Change Password</span>
                                    </a>



                                    <!-- item-->
                                    <a href="{{url_for('logout')}}" class="dropdown-item notify-item">
                                        <i class="mdi mdi-logout me-1"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>
                            </li>

                        </ul>
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>
                        <div class="app-search dropdown d-none d-lg-block">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control dropdown-toggle" placeholder="Search..." id="top-search">
                                    <span class="mdi mdi-magnify search-icon"></span>
                                    <button class="input-group-text btn-primary" type="submit">Search</button>
                                </div>
                            </form>

                            <div class="dropdown-menu dropdown-menu-animated dropdown-lg" id="search-dropdown">
                                <!-- item-->
                                <div class="dropdown-header noti-title">
                                    <h5 class="text-overflow mb-2">Sorry! no result found</h5>
                                </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Topbar -->




 {% block body %} {% endblock %}

 <!-- Footer Start -->
 <footer class="footer">
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-6">
                 <script>document.write(new Date().getFullYear())</script> © TOUR & TRAVEL AGENCY
             </div>
             <div class="col-md-6">
                 <div class="text-md-end footer-links d-none d-md-block">
                     <a href="javascript: void(0);">About</a>
                     <a href="javascript: void(0);">Support</a>
                     <a href="javascript: void(0);">Contact Us</a>
                 </div>
             </div>
         </div>
     </div>
 </footer>
 <!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->


</div>
<!-- END wrapper -->






<!-- SimpleMDE js -->
<script src="{{url_for('static', filename='assets/js/vendor/simplemde.min.js')}}"></script>

<!-- SimpleMDE demo -->
<script src="{{url_for('static', filename='assets/js/pages/demo.simplemde.js')}}"></script>
<!-- bundle -->
<script src="{{url_for('static', filename='assets/js/vendor.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/app.min.js')}}"></script>

<!-- third party:js -->
<script src="{{url_for('static', filename='assets/js/vendor/apexcharts.min.js')}}"></script>
<!-- third party end -->

<!-- Chat js -->
<script src="{{url_for('static', filename='assets/js/ui/component.chat.js')}}"></script>

<!-- demo:js -->
<script src="{{url_for('static', filename='assets/js/pages/demo.widgets.js')}}"></script>
<!-- demo end -->

<script>
CKEDITOR.replace('editor');
</script>

<!-- third party js -->
<script src="{{url_for('static', filename='assets/js/vendor/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/vendor/dataTables.bootstrap5.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/vendor/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/vendor/responsive.bootstrap5.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/vendor/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/vendor/buttons.bootstrap5.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/vendor/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/vendor/buttons.flash.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/vendor/buttons.print.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/vendor/dataTables.keyTable.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/vendor/dataTables.select.min.js')}}"></script>
<!-- third party js ends -->

<!-- demo app -->
<script src="{{url_for('static', filename='assets/js/pages/demo.datatable-init.js')}}"></script>
<!-- end demo js-->

</body>
</html>
