{%extends "admin/base.html"%}
{% block title%} EDIT TOUR INFO - ADMIN PANEL{% endblock %}
   {% block body %}



                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                          <li class="breadcrumb-item active">Edit Tour</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                      <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="mb-2">
                                                <h4 class="header-title mt-2">Edit Tour Details</h4>
                                                <p class="text-muted font-14">Check all details before submission</p>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="tab-content">
                                                                    <div class="tab-pane show active" id="input-types-preview">
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <form method="post" enctype="multipart/form-data">
                                                                                    <div class="mb-3">
                                                                                        <label for="title" class="form-label">MOBILE NO</label>
                                                                                        <input type="text" id="phone" name="phone" class="form-control" value="{{t.Phone}}" required>
                                                                                    </div>

                                                                                    <div class="mb-3">
                                                                                        <label for="location" class="form-label">DATE OF BIRTH</label>
                                                                                        <input type="text" id="dob" name="dob" class="form-control" value="{{t.DOB}}" required>
                                                                                    </div>

                                                                                    <div class="mb-3">
                                                                                        <label for="transport" class="form-label">ADDRESS</label>
                                                                                        <input type="text" id="address" name="address" class="form-control" value="{{t.address}}" required>
                                                                                    </div>

                                                                                    <div class="mb-3">
                                                                                        <label for="freelance" class="form-label">FREELANCE AVAILABILITY</label>
                                                                                        <select class="form-select" id="freelance" name="freelance">
                                                                                          <option readonly disabled>Freelance Availability</option>

                                                                                 <option value="1" {%if t.freelance==1%} selected {%endif%}>Available</option>
                                                                                  <option value="2" {%if t.freelance==2%} selected {%endif%}>Not Available</option>
                                                                                             </select>
                                                                                    </div>

                                                                            </div> <!-- end col -->

                                                                            <div class="col-lg-6">

                                                                                    <div class="mb-3">
                                                                                        <label for="duration" class="form-label">EMAIL</label>
                                                                                            <input type="email" id="email" name="email" class="form-control" value="{{t.email}}" required>
                                                                                             </select>
                                                                                    </div>

                                                                                    <div class="mb-3">
                                                                                        <label for="languages" class="form-label">SPEAKING LANGUAGES</label>
                                                                                        <input type="text" name="languages" id="languages" class="form-control"  value="{{t.languages}}"required>
                                                                                    </div>

                                                                                    <div class="mb-3">
                                                                                      <label for="nationality" class="form-label">NATIONALITY</label>
                                                                                      <input type="text" id="nationality" name="nationality" class="form-control" value="{{t.nationality}}" required>
                                                                                  </div>
                                                                                    


                                                                            </div> <!-- end col -->
                                                                        </div>
                                                                        <!-- end row-->
                                                                    </div>
                                                                                      <BR>

                                                        <!-- end Snow-editor-->
                                                    </div>
                                                    <input type="submit" class="btn btn-primary btn-block" VALUE="UPDATE INFO">
                                                      </form>


                                                                                      <BR>
                                                                                      <BR>
                                                                                      <BR>
                                                                                      <BR>
                                                                                      <BR>
                                                                                      <BR>
                                                                                      <BR>
                                                     <!-- end preview-->
            </div> <!-- end tab-content-->

                                            </div>
                                        </li>


{% endblock %}
