{%extends "admin/base.html"%}
{% block title%} MANAGE USERS - ADMIN PANEL{% endblock %}
   {% block body %}



                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                            <li class="breadcrumb-item active">Manage Users</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Manage Users</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->


                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Manage Users</h4>
                                        <p class="text-muted font-14">
                                          {% for message in get_flashed_messages()%}
        <p style='color:green'>{{message}}</p>
        {% endfor %}
        {% if error %}
        <p style='color:red'> {{error}}</p>
        {% endif %}
                                        </p>





                                    <div class="tab-content">
                                            <div class="tab-pane show active" id="basic-datatable-preview">
                                                <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                                    <thead>
                                                        <tr>
                                                          <th hidden>S#</th>
                                                            <th>USER ID</th>
                                                            <th>FULL NAME</th>
                                                            <th>MOBILE#</th>
                                                            <th>EMAIL ADDRESS</th>
                                                            <th>REGISTRATION DATE</th>
                                                            <th>MESSAGE</th>
                                                            <th>LOCK/UNLOCK</th>
                                                            </tr>
                                                    </thead>


                                                    <tbody>
                                                      {% for u in users%}
                                                        <tr>
                                                            <td hidden>{{loop.index}}</td>
                                                            <td>UID#-{{u.id}}</td>
                                                            <td>{{u.fullname}}</td>
                                                            <td>{{u.mobile}}</td>
                                                            <td>{{u.email}}</td>

                                                            <td>{{u.regdate}}</td>
                                                            <td><a href="../chat={{u.id}}"> <button type="button" class="btn btn-primary"><i class=" uil-comment"></i></button></a>


                                                            </td>

                                                            <td> <button type="button" class="btn btn-danger"><i class=" dripicons-lock"></i> </button>
                                                              <button type="button" class="btn btn-success"><i class="dripicons-lock-open"></i> </button>

                                                            </td>




                                                        </tr>{% endfor%}

                                                    </tbody>
                                                </table>
                                            </div> <!-- end preview-->
                                        </div> <!-- end tab-content-->

                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->

                    </div> <!-- container -->

                </div> <!-- content -->


                {% endblock %}
