{%extends "admin/base.html"%}
{% block title%} MANAGE TOUR PACKAGES - ADMIN PANEL{% endblock %}
   {% block body %}



                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                            <li class="breadcrumb-item active">Tour Packages</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Tour Packages</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->


                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Manage Tour Packages</h4>
                                        {% for message in get_flashed_messages()%}
      <p style='color:green'>{{message}}</p>
      {% endfor %}
      {% if error %}
      <p style='color:red'> {{error}}</p>
      {% endif %}
                                    <div class="tab-content">
                                            <div class="tab-pane show active" id="basic-datatable-preview">
                                                <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                                    <thead>
                                                        <tr>
                                                          <th hidden>S#</th>
                                                            <th>TOUR ID</th>
                                                            <th>TITLE</th>
                                                            <th>LOCATION</th>
                                                            <th>DURATION</th>
                                                            <th>PRICE PKR</th>
                                                            <th>CREATION DATE</th>

                                                            <th>ACTION</th>
                                                            </tr>
                                                    </thead>


                                                    <tbody>
                                                      {% for t in tours%}
                                                        <tr>
                                                            <td hidden>{{loop.index}}</td>
                                                            <td><a href="/trip_id={{t.PackageId}}"><button type="button" class="btn btn-info btn-rounded">PK#-{{t.PackageId}}</button></a></td>
                                                            <td>{{t.PackageName}}</td>
                                                            <td>{{t.PackageLocation}}</td>
                                                            <td>{% if t.Duration<2 %} {{t.Duration}} day {% elif t.Duration>1 %} {{t.Duration}} days {% endif %}</td>
                                                            <td>{{t.PackagePrice}}</td>
                                                            <td>{{t.Creationdate}}</td>

                                                            <td> <a href="/edit-tour/action_delete={{t.PackageId}}"><button type="button" class="btn btn-danger"><i class="mdi mdi-trash-can"></i> </button></a>
                                                              <a href="/manage-tour/id={{t.PackageId}}/action=edit"><button type="button" class="btn btn-warning"><i class="mdi mdi-wrench"></i> </button></a>

                                                            </td>



                                                        </tr>{% endfor%}

                                                    </tbody>
                                                </table>
                                            </div> <!-- end preview-->
                                        </div> <!-- end tab-content-->

                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->

                    </div> <!-- container -->

                </div> <!-- content -->


                {% endblock %}
